.header__item-form--button {
    border: 1px solid #dbcaca;
    border-radius: 0.3rem;
    background-color: #e8e7e7;
    color: #c3baba;
    padding: 3px 15px;
}

.main {
    width: 100%;
    text-align: center;
    align-items: center;
    color: #817070;
    border-top: 1px solid #dbcaca;
}

.main__title-logo {
    font-size: xx-large;
    padding-bottom: 0.5em;
    margin: 0;
    font-family: 'Merriweather', serif;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-form__input-text {
    border: 1px solid #dbcaca;
    background-color: #e8e7e7;
    width: 22em;
    height: 3em;
    padding: 0 0.5em;
    margin-right: 2em;
}

.search-form__select-gender {
    border: 1px solid #dbcaca;
    background-color: #e8e7e7;
    color: #817070;
    width: 6em;
    height: 3em;
    text-align: center;
    margin-right: 2em;
}

.search-form__select-kinds {
    border: 1px solid #dbcaca;
    background-color: #e8e7e7;
    color: #817070;
    width: 13em;
    height: 3em;
    text-align: center;
    margin-right: 2em;
}

.search-form__select-date {
    border: 1px solid #dbcaca;
    background-color: #e8e7e7;
    color: #817070;
    width: 9em;
    height: 3em;
    text-align: center;
    margin-right: 2em;
}

.search-form__input-text:focus-visible,
.search-form__select-gender:focus-visible,
.search-form__select-kinds:focus-visible,
.search-form__select-date:focus-visible {
    outline: 0;
}

.search-form__button-submit {
    border: 1px solid #dbcaca;
    background-color: #6b6060;
    color: #fff;
    padding: 5px 30px;
    height: 3em;
    margin-right: 2em;
}

.search-form__button-reset {
    border: 1px solid #dbcaca;
    background-color: #f0e6df;
    color: #fff;
    padding: 5px 17px;
    height: 3em;
    margin-right: 2em;
}

.main__action {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
}

.search-table {
    width: 65.5%;
    margin: 0 auto;
}

.search-table__content {
    border: 1px solid #dbcaca;
}

.search-table__title {
    border: none;
    background-color: #6b6060;
    color: #fff;
    width: 12em;
    height: 3em;
}

.search-table__item {
    width: 12em;
    height: 3em;
}

.main__action-pagination {
    width: 20%;
    margin-right: 1em;
}

.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /*border: 1px solid #dbcaca;*/
}

.page-link {
    display: inline-block;
    text-decoration: none;
    color: #817070;
    border: 1px solid #dbcaca;
    border-right: none;
    padding: 0 5px;
    margin: 0;
}

.page-link:last-child {
    border: 1px solid #dbcaca;
}

.page-link:visited {
    color: #817070;
}

.page-item.active {
    background-color: #817070;
    color: #fff;
}

.page-active {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #dbcaca;
    border-right: none;
    padding: 0 5px;
    margin: 0;
}

.export {
    padding: 1em 0 1em;
}

.export-button {
    text-decoration: none;
    border: 1px solid #dbcaca;
    background-color: #c3baba;
    color: #6b6060;
    padding: 0.5em 1em;
}

.modal-main {
    width: 100%;
    text-align: center;
    color: #817070;
    position: fixed;
    top: -0.5rem;
    left: -1rem;
    z-index: 5;
}

.admin-modal {
    border: 1px solid #dbcaca;
    background-color: #c3baba;
    color: #6b6060;
    padding: 0.5em 1.5em;
}
.modal-main__content {
    width: 40em;
    border: 1px solid #dbcaca;
    box-shadow: 2px 2px 4px #c7c3c3;
    margin: 5em auto;
    background-color: #fff;
}

.modal-main__close {
    width: 100%;
    text-align: right;
    background-color: #fff;
}

.modal-main__close-button {
    background-color: #fff;
    border: 1px solid #817070;
    border-radius: 50%;
    font-size: x-large;
    color: #817070;
    margin: 1em;
    width: 40px;
    height: 40px;
}

.modal-main__table {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
}

.modal-content__table {
    margin: 0 auto;
    width: 100%;
}

.modal-content__title {
    width: 35%;
    height: 3em;
    margin-bottom: 3em;
    text-align: left;
}

.modal-content-param {
    width: 65%;
    height: 3em;
    margin-bottom: 3em;
}

.modal-main__delete {
    margin: 2em;
}

.delete-form__button-submit {
    background-color: #d02b2b;
    border: 1px solid #ba3535;
    color: #fff;
    padding: 5px 20px;
}

