.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}

.header__title {
    width: 80%;
    text-align: center;
    margin-left: 5%;
}

.header__title-logo {
    color: #817070;
    font-size: 2.5em;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-family: 'Merriweather', serif;
}

.header__link {
    width: 5%;
    text-align: center;
}
