.main {
    width: 100%;
    text-align: center;
    align-items: center;
    color: #817070;
    border-top: 1px solid #dbcaca;
}

.main__title-logo {
    font-size: xx-large;
    padding-bottom: 0.5em;
    margin: 0;
    font-family: 'Merriweather', serif;
}

.main__content {
    width: 50%;
    margin: 0 auto;
}

.form__group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form__group-title {
    width: 30%;
    text-align: left;
    font-size: larger;
}

.form__group-input,
.form__group-input-gender,
.form__group-input-tel {
    width: 70%;
    text-align: left;
}

.form__group-title--mark {
    color: #fe6c6c;
}

.form__group-input-name {
    height: 2em;
    margin-right: 2em;
    border: none;
    border-radius: 0.3rem;
    background-color: #e8e7e7;
    padding: 0 2em;
}

.gender-label {
    margin-right: 2rem;
    font-weight: bold;
}

.input-gender {
    accent-color: #817070;
}

.form__group-input-email,
.form__group-input-address,
.form__group-input-building {
    width: 90%;
    height: 2em;
    border: none;
    border-radius: 0.3rem;
    background-color: #e8e7e7;
    padding: 0 2em;
}

.form__group-input-tel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form__group-input-tell {
    width: 10em;
    height: 2em;
    border: none;
    border-radius: 0.3rem;
    background-color: #e8e7e7;
    text-align: center;
}

.tel-line {
    margin: 0.5em 0.7em;
}

.form__group-building {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.form__group-input-kinds {
    height: 2em;
    border: none;
    border-radius: 0.3rem;
    background-color: #e8e7e7;
    padding: 0 2em;
    color: #817070;
}

.form__group-input-text {
    width: 90%;
    border: none;
    border-radius: 0.3rem;
    background-color: #e8e7e7;
    padding: 0.5em 2em 0;
}

.form__group-input-name:focus-visible,
.form__group-input-email:focus-visible,
.form__group-input-tell:focus-visible,
.form__group-input-address:focus-visible,
.form__group-input-building:focus-visible,
.form__group-input-kinds:focus-visible,
.form__group-input-text:focus-visible {
    outline: 0;
}


.form__button-submit {
    border: 1px solid #dbcaca;
    border-radius: 0.3rem;
    background-color: #6b6060;
    color: #fff;
    padding: 5px 30px;
}

.form__group-error {
    color: #fe6c6c;
    text-align: left;
}