.modal {
    position: relative;
}

.modal-main {
    width: 100%;
    text-align: center;
    color: #817070;
    position: absolute;
    top: -20em;
    right: 20em;
}

.modal-main__content {
    width: 40%;
    border: 1px solid #dbcaca;
    box-shadow: 2px 2px 4px #c7c3c3;
    margin: 5em auto;
}

.modal-main__close {
    width: 100%;
    text-align: right;
}

.modal-main__close-button {
    background-color: #fff;
    border: 1px solid #817070;
    border-radius: 50%;
    font-size: x-large;
    color: #817070;
    margin: 1em;
    width: 40px;
    height: 40px;
}

.modal-main__table {
    width: 80%;
    margin: 0 auto;
}

.modal-content__table {
    margin: 0 auto;
    width: 100%;
}

.modal-content__title {
    width: 35%;
    height: 3em;
    margin-bottom: 3em;
    text-align: left;
}

.modal-content-param {
    width: 65%;
    height: 3em;
    margin-bottom: 3em;
}

.modal-main__delete {
    margin: 2em;
}

.delete-form__button-submit {
    background-color: #d02b2b;
    border: 1px solid #ba3535;
    color: #fff;
    padding: 5px 20px;
}